.gitignore
test
LICENSE
palnt_disease_model.pkl
plant-disease-classification-resnet19.ipynb
README.md
test.py
__pycache__
.venv
.gitignore
LICENSE
plant_disease_model.pkl
plant-disease-classification-resnet19.ipynb
README.md
test.py
__pycache__
.venv